@media screen and (max-width: 1650px) {
  .youtube {
    margin-left: 0;
  }
  .honey-button {
    margin-top: 0;
  }
}

@media screen and (max-width: 992px) {
  p {
    line-height: 2rem;
  }
  h1 {
    font-size: 2.25rem;
  }
  .nav-item {
    padding: 0;
  }
  .about-text {
    font-size: 0.8rem;
    padding: 7%;
  }
  .about-text p {
    line-height: 1.65;
  }
  .about-img {
    display: flex;
  }
  .flower {
    align-self: center;
    max-width: 300px;
    max-height: 650px;
    height: auto;
    width: auto;
  }
  .honey h1 {
    font-size: 2.25rem;
  }
  .honey-button {
    text-align: center;
    margin: 1rem 0 2.5rem 0;
  }
  .video {
    text-align: center;
  }
  .youtube {
    margin-top: 0;
    margin-left: 0;
  }
  .message {
    padding-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    margin-right: 0;
    font-size: 1.8rem;
  }
  .nav-link {
    font-size: 1rem;
  }
  .navbar-toggler {
    padding: 1%;
    margin-left: 5px;
  }
  .nav-item {
    padding: 0;
  }
  .about-text {
    text-align: center;
  }
  .flower {
    display: none;
  }
  .prod-sxn {
    margin-bottom: 5%;
    margin-top: 10%;
  }
  .honey {
    text-align: center;
  }
  .honeyext img {
    margin-bottom: 0;
    width: 210px;
    height: 150px;
  }
  .video {
    display: none;
  }
  .contact-sxn h1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .contact-sxn {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 400px) {
  .center {
    top: 75px;
  }
}

@media screen and (max-height: 420px) {
  .center {
    top: 100px;
  }
}
